<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Rebel Cricket Quote</title>
  
<style>
/* ------------------------------------- 
    GLOBAL 
------------------------------------- */
* { 
  margin:0;
  padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
  max-width: 100%; 
}
.collapse {
  margin:0;
  padding:0;
}
body {
  -webkit-font-smoothing:antialiased; 
  -webkit-text-size-adjust:none; 
  width: 100%!important; 
  height: 100%;
}


/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a { color: #2BA6CB;}

hr { 
  border: none;
  border-bottom: 1px solid #ccc; 
}

.btn {
  text-decoration:none;
  color: #FFF;
  background-color: #666;
  padding:10px 16px;
  font-weight:bold;
  margin-right:10px;
  text-align:center;
  cursor:pointer;
  display: inline-block;
}

p.callout {
  padding:15px;
  background-color:#ECF8FF;
  margin-bottom: 15px;
}
.callout a {
  font-weight:bold;
  color: #2BA6CB;
}

table.social {
  background-color: red;
  color: white;
}

.social .soc-btn {
  padding: 3px 7px;
  font-size:12px;
  margin-bottom:10px;
  text-decoration:none;
  color: #FFF;font-weight:bold;
  display:block;
  text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.social a {
  color: white;
}

.social a:hover {
  color: black;
}

.sidebar .soc-btn { 
  display:block;
  width:100%;
}

/* ------------------------------------- 
    HEADER 
------------------------------------- */
table.head-wrap { 
  width: 100%;
}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
    BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
    FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
  font-size:10px;
  font-weight: bold;
  
}


/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

.white {color: white;}

p, ul { 
  margin-bottom: 10px; 
  font-weight: normal; 
  font-size:14px; 
  line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
  margin-left:5px;
  list-style-position: inside;
}

/* ------------------------------------- 
    SIDEBAR 
------------------------------------- */
ul.sidebar {
  background:#ebebeb;
  display:block;
  list-style-type: none;
}
ul.sidebar li { display: block; margin:0;}
ul.sidebar li a {
  text-decoration:none;
  color: #666;
  padding:10px 16px;
/*  font-weight:bold; */
  margin-right:10px;
/*  text-align:center; */
  cursor:pointer;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #FFFFFF;
  display:block;
  margin:0;
}
ul.sidebar li a.last { border-bottom-width:0px;}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:15px;
  max-width:600px;
  margin:0 auto;
  display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
  width: 300px;
  float:left;
}
.column tr td { padding: 15px; }
.column-wrap { 
  padding:0!important; 
  margin:0 auto; 
  max-width:600px!important;
}
.column table { width:100%;}
.social .column {
  width: 280px;
  min-width: 279px;
  float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }

.brand_style_color, .line_item, .section_label {
  margin: 1em;
}
.line_item {
  border-bottom: dotted thin #ccc;
}

/* ------------------------------------------- 
    PHONE
    For clients that support media queries.
    Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  
  a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

  div[class="column"] { width: auto!important; float:none!important;}
  
  table.social div[class="column"] {
    width:auto!important;
  }

}

</style>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="red">
  <tr>
    <td class="header container" colspan="12">
        
        <div class="content">
        <table bgcolor="red">
          <tr>
            <td colspan="10">
                <h3 class="white">REBEL CRICKET SCREEN PRINTS</h3>
            </td>
            <td align="right" colspan="2"><h3 class="white">QUOTE</h3></td>
          </tr>
        </table>
        </div>
        
    </td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td class="container" bgcolor="#FFFFFF" colspan="12">

      <div class="content">
      <table>
        <tr>
          <td class="container" colspan="12">

    
            <!-- content -->
            <div class="content">
   
              <tr>
                <td align="center" colspan="12">
                  <h4 class="section_label"><%= @quote["client_contact_information"]["label"].upcase rescue '' %> </h4>
                </td>
              </tr>

              <% if @quote["client_contact_information"] and @quote["client_contact_information"]["items"] %>
                <% @quote["client_contact_information"]["items"].each do |item| %>
                  <tr>
                    <td align="left" colspan="12">
                      <b><%= item["label"] %>:</b> 
                      <%= item["value"] %>
                    </td>
                  </tr>
                <% end %>
              <% end %>

              <tr><td colspan="12">&nbsp;</td></tr>
              <tr>
                <td colspan="12">
                  <b>Edit this quote:</b> 
                  <a href="http://localhost:8080/admin#<%= @rebel_quote.number%>"><%= @rebel_quote.number %></a>
                </td>
              </tr>
              <tr><td colspan="12">&nbsp;</td></tr>

              <tr>
                <td align="center" colspan="12">
                  <h4 class="section_label">SERVICES</h4>
                </td>
              </tr>
              
              <%
                if @quote["services"] 
                  @quote["services"].each do |quoteServiceItem| 
              %>
                <tr>
                  <td align="left" colspan="2">
                    <b>Service:</b>
                  </td>
                  <td align="left" colspan="10">
                      <h5><%= quoteServiceItem["name"] %></h5>
                  </td>
                </tr>
                <tr>
                  <% if quoteServiceItem["total"] %>
                  <td align="left" colspan="12">
                    <b>Items Total:</b>
                    <%= quoteServiceItem["total"] %> $<%= quoteServiceItem["total_price"]  %>
                  </td>
                  <% end %>

                </tr>

                <% if quoteServiceItem["name"] =~ /apparel/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["line_items"]["items"].each do |lineItem| %>

                    <% lineItem["brand_style_color"].each do |item| %>
                      <tr class="brand_style_color">
                        <td align="left" colspan="12">
                          <b><%= item["label"] %>:</b>
                          <%= item["value"] %>
                        </td>
                      </tr>
                    <% end %>
                    
                    <tr><td colspan="12">&nbsp;</td></tr>
                    <tr class="line_item">
                      <td>&nbsp;</td>
                      <% lineItem["size_quantity"].each do |item| %>
                        <td align="center">
                          <b><%= item["label"] %></b><br>
                          <%= item["value"] %><br>
                          <%= item["total"] %>
                        </td>
                      <% end %>

                      <% if lineItem["line_total"] %>
                        <td align="center">
                          <b><%= lineItem["line_total"]["label"] %></b><br>
                          <%= lineItem["line_total"]["value"] %><br>
                          $<%= lineItem["line_total"]["total"] %>
                        </td>
                      <% end %>

                     
                    </tr>
                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /apparel/i %>
                
                <% if quoteServiceItem["name"] =~ /poster/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["poster_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Poster Stock:</b>
                        <%= lineItem["poster_stock_colors"][lineItem["selected_poster_stock"].to_i - 1] rescue lineItem["selected_poster_stock"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Poster Size:</b>
                        <%= lineItem["poster_sizes"][lineItem["selected_poster_size"].to_i - 1] rescue lineItem["selected_poster_size"] %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /poster/i %>

                <% if quoteServiceItem["name"] =~ /sticker/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["sticker_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Sticker Stock Color:</b>
                        <%= lineItem["sticker_stock_colors"][lineItem["selected_sticker_stock"].to_i - 1] rescue lineItem["selected_sticker_stock"]%>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Sticker Size:</b>
                        <%= lineItem["sticker_sizes"][lineItem["selected_sticker_size"].to_i - 1] rescue lineItem["selected_sticker_size"] %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /sticker/i %>

                <% if quoteServiceItem["name"] =~ /sandblasting/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["sandblasting_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Substrates</b>
                        <% lineItem["selected_substrates"].each do |opt| %>
                            <%= lineItem["substrates"][opt] %>;
                        <% end %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <% if lineItem["needs_color_fill"] %>
                        <td align="left" colspan="12">
                          <b>Needs Color Fill:</b>
                          <%= lineItem["needs_color_fill"] %>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td align="left" colspan="12">
                        <b>Fill Colors:</b>
                        <% lineItem["selected_fill_colors"].each do |opt| %>
                            <%= lineItem["fill_colors"][opt.to_i - 1] %>;
                        <% end %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /sandblasting/i %>

                <% if quoteServiceItem["name"] =~ /sublimation/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["sublimation_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Sublimation Items:</b>
                        <% lineItem["selected_sublimation_items"].each do |opt| %>
                            <%= lineItem["sublimation_items"][opt] %>;
                        <% end %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Watter Bottle Options:</b>
                        <% lineItem["selected_watter_bottle_options"].each do |opt| %>
                            <%= lineItem["watter_bottle_options"][opt] %>;
                        <% end %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Watter Bottle Options:</b>
                        <% lineItem["selected_watter_bottle_tops"].each do |opt| %>
                            <%= lineItem["watter_bottle_tops"][opt] %>;
                        <% end %>
                      </td>
                    </tr>
                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /sublimation/i %>


                <% if quoteServiceItem["name"] =~ /vinyl/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["vinyl_line_items"]["items"].each do |lineItem| %>


                    <tr>
                      <td align="left" colspan="12">
                        <b>Dimensions:</b>
                        <%= lineItem["dimensions"] %>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Option:</b>
                        <%= lineItem["options"][lineItem["selected_option"].to_i - 1] rescue lineItem["selected_option"] %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /vinyl/i %>

                <% if quoteServiceItem["name"] =~ /dimensional/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["dimensional_parts_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Dimensions:</b>
                        <%= lineItem["dimensions"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Options:</b>
                        <% lineItem["selected_options"].each do |opt| %>
                            <%= lineItem["options"][opt] %>;
                        <% end %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /dimensional/i %>

                <% if quoteServiceItem["name"] =~ /buttons/i %>
                  <tr><td colspan="12">&nbsp;</td></tr>
                  <% @quote["buttons_line_items"]["items"].each do |lineItem| %>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Quantity:</b>
                        <%= lineItem["quantity"] %>
                      </td>
                    </tr>

                    <tr class="line_item">
                      <td align="left" colspan="12">
                        <b>Size:</b> 
                        <%= lineItem["selected_size"] %>
                      </td>
                    </tr>

                    <tr><td colspan="12">&nbsp;</td></tr>

                    <tr>
                      <td align="left" colspan="12">
                        <b>Notes:</b>
                        <%= lineItem["serviceNotes"] %>
                      </td>
                    </tr>
                    <tr><td colspan="12"><hr></td></tr>

                  <% end %> <%# .each lineItem %>
                <% end %> <%# if quoteService.name =~ /buttons/i %>

                <tr><td colspan="12">&nbsp;</td></tr>
              <% 
                end 
              end
              %> <%# .each quoteServiceItem %>
            

              <tr>
                <td align="center" colspan="12">
                  <h4 class="section_label">GRAPHICS</h4>
                </td>
              </tr>
              
              <% 
              if @quote["graphic"] and @quote["graphic"]["items"]
                @quote["graphic"]["items"].each do |item| 
              %>
                <tr>
                  <td align="left" colspan="12">
                   <!--  <img src="<%= item["attachment_url"] %>" class="responsive-img quoteDesignImg"> -->
                    <a href="<%= item["attachment_url"] %>" title="link to graphic"><%= item["attachment_url"] %></a>
                    
                  </td>
                </tr>
                <tr>
                  <td align="left" colspan="12">
                    <b>Print On: </b>
                    <% item["print_on_item_names"].each do |print_on_item| %>
                      <%= print_on_item %>;<br>
                    <% end %>
                    <small>Select as many as needed</small>
                  </td>
                </tr>
                <% if item["print_positions"] %>
                  <tr>
                    <td align="left" colspan="12">
                      <b>Position:</b>
                      <% item["print_positions"].each do |print_position| %>
                        <%= @positions[print_position.to_i] %>;<br>
                      <% end %>
                      <small>Only applicable to apparel items</small>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td align="left" colspan="12">
                    <b>Colors Qty:</b> <%= item["num_colors"] %>
                  </td>
                </tr>
                <tr>
                  <td align="left" colspan="12">
                    <b>Colors:</b>
                    <% item["colors"].each do |color| %>
                      <%= color %>;
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <% if item["needs_white_base"] %>
                  <td align="left" colspan="3">
                    <b>Needs white base:</b>
                    <%= item["needs_white_base"] %>
                  </td>
                  <% end %>
                  <td align="left" colspan="4">
                    <b>Size (Height x Width):</b>
                    <%= item["size_inches"] %>
                  </td>

                </tr>
                <tr>
                  <td align="left" colspan="12">
                    <b>Graphic Notes:</b> <%= item["notes"] %>
                  </td>
                </tr>
                <tr><td colspan="12"><hr></td></tr>
                <tr><td colspan="12">&nbsp;</td></tr>

              <% 
                end # graphic itemz
              end 
              %>

              <tr>
                <td align="center" colspan="12">
                  <h4 class="section_label">JOB COMPLETION AND SHIPPING</h4>
                </td>
              </tr>

              <% 
              if @quote["job_completion_and_shipping"] and @quote["job_completion_and_shipping"]["items"]
                @quote["job_completion_and_shipping"]["items"].each do |item| 
                  next unless item["value"]
              %>

              <tr>
                <td align="left" colspan="12">
                    <b><%= item["label"] %></b>
                    <%= item["value"] %>
                </td>
              </tr>


              <% 
                end # job_completion_and_shipping
              end 
              %>

              <tr>
                <td align="center" colspan="12">
                  <h4 class="section_label">OTHER</h4>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="12">
                  <% if @quote["need_by_date"] %>
                    <b>Need by date:</b>
                    <%= @quote["date_needed"] %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="12">
                  <b>Notes:</b>
                  <%= @quote["notes"] %>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="12">
                  <b>Created at:</b>
                  <%= @rebel_quote.created_at.strftime('%A %d %b %Y %l:%M %p') %>
                </td>
              </tr>
              <% unless @rebel_quote.updated_at.nil? %>
                <tr>
                  <td align="left" colspan="12">
                    <b>Updated at:</b>
                    <%= @rebel_quote.updated_at.strftime('%A %d %b %Y %l:%M %p') %>
                  </td>
                </tr>
              <% end %>


            </div><!-- /content -->

          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- social & contact -->
<table class="social" width="100%">
  <tr>
    <td colspan="12">
      
      <!-- column 1 -->
      <table align="left" class="column">
        <tr>
          <td colspan="6">        
            <h5 class="white">Connect with Us:</h5>
            <br>
            <p class=""><a href="https://www.facebook.com/RebelCricketScreenPrints/" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/rebelcricket" class="soc-btn tw">Twitter</a> 
          </td>
        </tr>
      </table><!-- /column 1 -->  
      
      <!-- column 2 -->
      <table align="left" class="column">
        <tr>
          <td colspan="6">        
                          
            <h5 class="white">Contact Info:</h5>                       
            <p>
              Phone: <strong class="white"><a href="tel://1-503-545-1450">503-545-1450</a></strong><br/>
              Email: <strong class="white">rebelcricket@gmail.com</strong><br/>
              Web: <strong class="white"><a href="http://rebelcricket.com">http://rebelcricket.com</a></strong>
              Address: <strong class="white">5040 SE Milwaukie Ave. Portland, OR 97202 </strong>
            </p>
    
          </td>
        </tr>
      </table><!-- /column 2 -->
      
      <span class="clear"></span> 
      
    </td>
  </tr>
</table><!-- /social & contact -->

</body>
</html>
